:root {
  /* Main Color Palette: */
  --container-background: rgba(0, 0, 0, 0.85);
  --white: #fff;
  --red-wine-primary: #ea1017;
  --red-wine-dark: #c5161c;
  --red-wine-dark-quote: #c5161c66;
  --red-wine-lighter: #eb3339;
  --red-text-bright: #ea1017;
  --button-hover: #bb0e13;
  --container-background-alpha: rgba(0, 0, 0, 0.6);
  --background-layer: rgba(0, 0, 0, 0.7);
  --black: #000;
  --scrollbar-background: rgb(20, 20, 20);
  --scrollbar-bar: #444;

  /* Contact Page Icons Color: */
  --facebook-color: #4267b2;
  --instagram-color: #e1306c;
  --twitter-color: #1da1f2;
  --linkedin-color: #2867b2;
  --github-color: #555;
  --youtube-color: #ff0000;
  --allmylinks-color: #eb701f;
  --envelope-color: #ffff00;
  --telegram-color: #0088cc;

  /* Other Profiles Icons Color: */
  --lattes-color: #2e40c3;
  --cv-color: rgb(182, 182, 182);
  --freecodecamp-color: #008708;
  --hackerrank-color: #4bd353;
  --uri--color: #c7c424;
  --stackoverflow-color: #f08c15;
  --behance-color: #1769ff;
  --deviantart-color: #33bc63;
  --pinterest-color: #da1515;
  --issuu-color: #ee7d7d;
  --pensador-color: #df1717;
  --duolingo-color: #40df1a;
  --filmow-color: rgb(170, 168, 168);
  --spotify-color: #43d448;
  --myanimelist-color: #2a35da;
  --skoob-color: #757eff;

  /* Soundcloud Player: */
  --soundcloud-default: #cccccc;
}
