/* Page Structure: */

html {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

main {
  padding-left: 5px;
  padding-right: 5px;

  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

body {
  width: 100%;

  background-size: auto;
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
  background-image: linear-gradient(
      180deg,
      var(--background-layer),
      var(--background-layer)
    ),
    url("../../images/global/background.webp");

  color: var(--white);
  font-size: 1rem;
  font-family: "Fira Mono", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page Transition: */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Links: */

a,
a:hover {
  text-decoration: none;
  color: var(--white);
}

.redirect-link {
  color: var(--white) !important;
  text-decoration: none;
  border-bottom: 1px dotted var(--red-wine-primary);
  font-weight: bold;

  transition: all 0.3s ease-in-out;
}

.redirect-link:hover {
  text-shadow: 0 0 5px var(--red-text-bright), 0 0 5px var(--red-text-bright);
  text-decoration: none;
}

/* Button: */

.custom-button {
  height: 45px;
  max-width: 200px;

  margin: 25px auto 0 auto;

  background-color: var(--red-wine-primary);
  border-radius: 10px;
  border-color: var(--red-wine-primary);

  font-size: 1.125rem;

  transition: all 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: var(--red-wine-primary);
  border-color: var(--red-wine-primary);
  box-shadow: 0 0 5px var(--red-wine-primary), 0 0 5px var(--red-wine-primary);
}

/* Skip to Main Content: */

.skip-to-content {
  padding: 15px 20px;

  position: absolute;
  z-index: 9999;
  left: 25px;

  background-color: var(--red-wine-primary);
  border-radius: 5px;
  opacity: 0;

  font-size: 0.875rem;

  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(26%);
  opacity: 1;
}

/* Pages: */
.section-container {
  max-width: var(--max-width-container);

  margin: var(--top-bottom-default-margin) auto;

  border-radius: 10px;
  box-shadow: 0 0 10px var(--black), 0 0 10px var(--black);
  border-style: solid;
  border-width: 1px;
  border-color: var(--red-wine-primary);
  background-color: var(--container-background-alpha);
}

.section-title {
  margin-bottom: 20px;

  font-size: 1.56rem;
  text-align: center;
  font-weight: bold;
}

.column-image {
  display: flex;
  justify-content: center;

  padding: 15px;
}

.illustration {
  border-radius: 7px;
  border-style: solid;
  border-color: var(--white);
  border-width: 1px;
}

.column-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 30px;
}

.description-text {
  margin-bottom: 0;

  font-size: 0.87rem;
  line-height: 1.3rem;
}

.column-video {
  padding: 15px;
}

@media only screen and (max-width: 1200px) {
  .column-description {
    padding: 30px;
  }
}
