/* PAGE STRUCTURE: */

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

main {
  padding-left: 5px;
  padding-right: 5px;
}

body {
  background-color: var(--black);
  background-size: auto;
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../images/global/background.webp");
  width: 100%;

  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PAGE TRANSITION: */

main {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* LINK: */

a:link {
  color: var(--white) !important;
  text-decoration: none;
}

a:visited {
  color: var(--white) !important;
  text-decoration: none;
}

a:hover {
  color: var(--white) !important;
  text-decoration: underline;
}

a:active {
  color: var(--white) !important;
  text-decoration: none;
}

.redirect-link {
  border-bottom: 1px dotted var(--red-wine-primary);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.redirect-link:hover {
  text-shadow: 0 0 5px var(--red-text-bright), 0 0 5px var(--red-text-bright);
  text-decoration: none;
}

/* BUTTON: */

.custom-button {
  max-height: 50px;
  max-width: 200px;
  background-color: var(--red-wine-primary);
  font-family: "Fira Mono", monospace;
  border-radius: 10px;
  margin-left: auto;
  font-size: 18px;
  margin-right: auto;
  border-color: var(--red-wine-primary);
  transition: all 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: var(--red-wine-primary);
  border-color: var(--red-wine-primary);
  box-shadow: 0 0 5px var(--red-wine-primary), 0 0 5px var(--red-wine-primary);
}

/* SKIP TO MAIN CONTENT: */

.skip-to-content {
  background-color: var(--red-wine-primary);
  padding: 15px 20px;
  z-index: 9999;
  position: absolute;
  left: 25px;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(26%);
}
