.section-title.about-title {
  margin-bottom: 10px;

  font-size: 1.56rem;
}

.title-about-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 10px;
}

.header-title-container {
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 30px auto -25px auto;
  padding: 12px 10px 0 10px;

  background-color: var(--container-background-alpha);
  border-radius: 50% 50% 0 0;
  border-style: dashed;
  border-width: 1px 1px 0 1px;
  border-color: var(--red-wine-primary);
}

.header-title-container.facets,
.header-title-container.carpe-diem {
  margin-top: 5px;
}

.icon-about-circle {
  height: 55px;
  width: 55px;

  display: flex;

  margin-bottom: 10px;

  border-radius: 50%;
  background-color: var(--red-wine-primary);

  transition: all 0.2s ease-in-out;
}

.icon-about-circle:hover {
  box-shadow: 0 0 5px var(--red-wine-primary), 0 0 10px var(--red-wine-primary);
}

.icon-about {
  margin: auto;
  color: var(--white);
}

#icon-briefly {
  transform: scale(1.7);
}

#icon-facets {
  transform: scale(1.7);
}

#icon-carpe-diem {
  transform: scale(1.8);
}

#modal-feedbacks {
  z-index: 9999;

  padding-right: 0;

  box-shadow: 0 0 10px var(--black), 0 0 10px var(--black) !important;
  background-color: var(--container-background-alpha);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.7rem;

  background-color: var(--red-wine-primary);
  border: 1px solid var(--red-wine-primary);
  border-radius: 5px 5px 0 0;

  font-size: 0.87rem;
}

#modal-header-space {
  height: auto;

  margin-right: 20px;
}

#close-modal {
  padding: 0;
  margin: 0;

  color: var(--white);
}

.modal-title {
  margin: auto;

  font-weight: bold;
  text-shadow: 0 0 5px var(--black);
  font-size: 1rem;
}

.modal-body {
  padding-bottom: 0.63rem;

  border-color: var(--red-wine-primary);
  border-width: 1px;
  border-style: none dashed dashed dashed;
  border-radius: 0 0 10px 10px;

  text-align: center;
}

#modal-content {
  border-radius: 10px;
  background-color: var(--container-background);
}

.feedback-item {
  display: flex;

  margin: 4px auto 13px auto;

  font-size: 0.87rem;
  line-height: 1.3rem;
}

.feedbacks-divider {
  color: var(--red-wine-primary);
  font-weight: bold;
}
