.title-about-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 10px;
}

.header-title-container {
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 30px auto -30px auto;
  padding: 12px 10px 0 10px;

  background-color: var(--container-background-alpha);
  border-radius: 50% 50% 0 0;
  border-style: dashed;
  border-width: 1px 1px 0 1px;
  border-color: var(--red-wine-primary);
}

.header-title-container.furthermore,
.header-title-container.carpe-diem {
  margin-top: 0;
}

.icon-about-circle {
  height: 55px;
  width: 55px;

  display: flex;

  margin-bottom: 10px;

  border-radius: 50%;
  background-color: var(--red-wine-primary);

  transition: all 0.2s ease-in-out;
}

.icon-about-circle:hover {
  box-shadow: 0 0 5px var(--red-wine-primary), 0 0 10px var(--red-wine-primary);
}

.icon-about {
  margin: auto;
  color: var(--white);
}

#icon-biography {
  transform: scale(1.7);
}

#icon-projects {
  padding: 2px 2px 0 0;

  transform: scale(1.6) rotate(-45deg);
}

#icon-life {
  transform: scale(1.8);
}
