.fas.fa-envelope.message {
  color: var(--envelope-color);
}

.fab.fa-telegram-plane {
  color: var(--telegram-color);
}

.fab.fa-facebook-square {
  color: var(--facebook-color);
}

.fab.fa-instagram {
  color: var(--instagram-color);
}

.fab.fa-twitter {
  color: var(--twitter-color);
}

.fab.fa-linkedin {
  color: var(--linkedin-color);
}

.fab.fa-github {
  color: var(--github-color);
}

.fab.fa-youtube {
  color: var(--youtube-color);
}

.fas.fa-link.more {
  color: var(--allmylinks-color);
}

#modal-profiles {
  z-index: 9999;

  padding-right: 0;

  box-shadow: 0 0 10px var(--black), 0 0 10px var(--black) !important;
  background-color: var(--container-background-alpha);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.7rem;

  background-color: var(--red-wine-primary);
  border: 1px solid var(--red-wine-primary);
  border-radius: 5px 5px 0 0;

  font-size: 0.87rem;
}

#modal-header-space {
  height: auto;

  margin-right: 20px;
}

#close-modal {
  padding: 0;
  margin: 0;

  color: var(--white);
}

.modal-title {
  margin: auto;

  font-weight: bold;
  text-shadow: 0 0 5px var(--black);
  font-size: 1.25rem;
}

.modal-body {
  padding-bottom: 0;

  border-color: var(--red-wine-primary);
  border-width: 1px;
  border-style: none dashed dashed dashed;
  border-radius: 0 0 10px 10px;

  text-align: center;
}

#modal-content {
  border-radius: 10px;
  background-color: var(--container-background);
}

#profiles-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 10px;
}

#profiles-list span a {
  margin-left: 7px;
  font-style: italic;
}

.item-profile {
  display: flex;

  margin: 4px auto 13px auto;

  line-height: 1.07rem;
  font-size: 0.87rem;
}

.profiles-divider {
  color: var(--red-wine-primary);
  font-weight: bold;
}

#icon-lattes {
  color: var(--lattes-color);
}

#icon-resume {
  color: var(--cv-color);
}

#icon-freecodecamp {
  color: var(--freecodecamp-color);
}

#icon-codepen {
  color: var(--white);
}

#icon-hackerrank {
  color: var(--hackerrank-color);
}

#icon-uri {
  color: var(--uri--color);
}

#icon-stackoverflow {
  color: var(--stackoverflow-color);
}

#icon-behance {
  color: var(--behance-color);
}

#icon-deviantart {
  color: var(--deviantart-color);
}

#icon-pinterest {
  color: var(--pinterest-color);
}

#icon-issuu {
  color: var(--issuu-color);
}

#icon-pensador {
  color: var(--pensador-color);
}

#icon-duolingo {
  color: var(--duolingo-color);
}

#icon-filmow {
  color: var(--filmow-color);
}

#icon-spotify {
  color: var(--spotify-color);
}

#icon-myanimelist {
  color: var(--myanimelist-color);
}

#icon-skoob {
  color: var(--skoob-color);
}

#icon-lichess {
  color: var(--white);
}

#icon-strava {
  color: var(--strava-color);
}
