.soundcloud-player-container {
  font-size: 0.625rem;
  color: var(--soundcloud-default);
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

.soundcloud-player-link {
  color: var(--soundcloud-default);
  text-decoration: none;
}
