#category-buttons-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}

#categories {
  width: 450px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.category-circle {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: var(--container-background-alpha);
  border-width: 1px;
  border-style: dashed;
  border-color: var(--red-wine-primary);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--black);
  transition: all 0.3s ease-in-out;

  color: var(--red-wine-primary);
}

.category-circle:hover {
  box-shadow: 0 0 10px var(--red-wine-primary);
  background-color: var(--red-wine-primary);

  color: var(--white) !important;

  cursor: pointer;
}

.category-link {
  text-decoration: none !important;
}

.category-name {
  display: none;
}

.category-icon {
  font-size: 25px;
}

.label-category {
  width: 50px;
  height: 50px;

  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 10;

  margin-left: 1px;
  margin-top: 1px;

  background-color: var(--red-wine-primary);

  border-radius: 5px 0 0 0;
  clip-path: circle(100% at 0 0);
}

.label-icon {
  margin-right: 21px;
  margin-bottom: 22px;
  color: var(--white);
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.label-icon:hover {
  transform: scale(1.1);
}

#descricao-fora-da-caixa-wrapper {
  width: 100%;
}
