/* PAGE STRUCTURE: */

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

main {
  padding-left: 5px;
  padding-right: 5px;
}

body {
  background-color: var(--black);
  background-size: auto;
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/global/background.png");
  font-size: 14px;
  width: 100%;
}

/* LINK: */

a:link {
  color: var(--white) !important;
  text-decoration: none;
}

a:visited {
  color: var(--white) !important;
  text-decoration: none;
}

a:hover {
  color: var(--white) !important;
  text-decoration: underline;
}

a:active {
  color: var(--white) !important;
  text-decoration: none;
}

.redirect-link {
  border-bottom: 1px dotted var(--red-wine-primary);
  font-weight: bold;
}

.redirect-link:hover {
  text-shadow: 0 0 5px var(--red-text-bright), 0 0 5px var(--red-text-bright);
  text-decoration: none;
}

/* BUTTON: */

.custom-button {
  max-height: 50px;
  max-width: 200px;
  background-color: var(--red-wine-primary);
  font-family: "Fira Mono", monospace;
  border-radius: 10px;
  margin-left: auto;
  font-size: 18px;
  margin-right: auto;
  border-color: var(--red-wine-primary);
  transition: all 0.2s ease-in-out;
}

.custom-button:hover {
  background-color: var(--red-wine-primary);
  border-color: var(--red-wine-primary);
  box-shadow: 0 0 5px var(--red-wine-primary), 0 0 5px var(--red-wine-primary);
}
