.carousel {
  position:center;
}

#navcol-1 {
  text-align:center;
}

.navbar.navbar-light.navbar-expand-lg.sticky-top {
  box-shadow:0px 0px 20px black;
}

img {
  horizontal-align:middle;
}

/*
.col {
  box-shadow:0px 0px 20px black;
}
*/

.navbar.navbar-light.navbar-expand-xl.sticky-top {
  box-shadow:0px 0px 20px black;
}

/* NOVO CÓDIGO */

.nav-item a {
  color: #9e0b0f !important;
}


.nav-item a:hover {
  color: white !important;
  background-color: #993333 !important;
  border-radius: 3px;
}

.nav-item a.active {
  color: white !important;
  background-color: #9e0b0f !important;
  border-radius: 3px;
}

h1 {
  margin-bottom: 20px;
}

a:link {
    color: white !important;
    text-decoration: none;
}

a:visited {
    color: white !important;
    text-decoration: none;
}

a:hover {
    color: white !important;
    text-decoration: underline;
}

a:active {
    color: white !important;
    text-decoration: none;
}
