#navcol-1 {
  text-align:center;
}

img {
  horizontal-align:middle;
}

.navbar.navbar-light.navbar-expand-xl.sticky-top {
  box-shadow:0px 0px 20px black;
  background-color:#000000;
  padding-left:21px;
  padding-top:7px;
  padding-bottom:7px;
  width:100%;
  max-width:100%;
  font-family:'Fira Mono', monospace;

  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #9e0b0f;
}

.nav-item a {
  color: white !important;
}

.nav-item a:hover {
  color: white !important;
  background-color: #993333 !important;
  border-radius: 10px;
}

.nav-item a.active {
  color: white !important;
  background-color: #9e0b0f !important;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #9e0b0f;
}

h1 {
  margin-bottom: 20px;
}

a:link {
    color: white !important;
    text-decoration: none;
}

a:visited {
    color: white !important;
    text-decoration: none;
}

a:hover {
    color: white !important;
    text-decoration: underline;
}

a:active {
    color: white !important;
    text-decoration: none;
}

body{
  background-color:#ffffff;
  width:auto;
  height:auto;
  min-height:0px;
  background-size:auto;
  background-repeat:repeat;
  background-position:top;
  background-image:url('../img/background.png');
  font-size:14px;
}

.nav-item{
  padding:10px;
}

#danielBritoLogo{
  width:auto;
  height:55px;
}

#toggleNav{
  margin:0px;
  height:1px;
  width:1px;
}

#toggleNavIcon{
  background-color:#9e0b0f;
  width:50px;
  height:50px;
  margin:-7px;
}

#navcol-1{
   font-size:16px;
}

.fa.fa-home, .fa.fa-user, .fa.fa-book, .fa.fa-star, .fa.fa-photo, .fa.fa-video-camera, .fa.fa-pencil-square-o, .fa.fa-newspaper-o, .fa.fa-envelope{
  margin-right:5px;
  margin-left:0px;
  margin-top:5px;
}

#apresentacaoContainer{
   background-color:#000000;
   margin-top:20px;
   margin-bottom:20px;
   max-width:987px;
   border-radius: 5px;
   /*
    border-style: solid;
  border-width: 1px;
  border-color: #9e0b0f;
  */
}

#linkInterno{
  text-decoration: none;
}

#apresentacaoRow{
   background-color:transparent;
}

#apresentacaoColunaImg{
  background-color:transparent;
  padding-top:15px;
  padding-bottom:15px;
  width:466px;
  min-width:112px;
}

#apresentacaoImg{
  border-radius: 5px;
}

#apresentacaoColunaTexto{
   background-color:transparent;
   margin-top:0px;
   padding-top:15px;
   padding-bottom:15px;
}

#apresentacaoTitulo{
   font-family:'Fira Mono', monospace;
   color:rgb(255,255,255);
   margin-top:15px;
   font-size:35px;
}

#apresentacaoTexto{
  font-family:'Fira Mono', monospace;
  color:rgb(255,255,255);
  margin-bottom:15px;
  font-size:14px;
}

footer{
  height:50px;
  background-color:#000000;
  min-height:50px;
  width:100%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #9e0b0f;
}

#footerRow{
   height:50px;
   margin-right:0px;
   margin-left:0px;
   padding-bottom:5px;
   max-width:100%;
   width:100%;
}

#footerLetter{
   width:21px;
   height:21px;
   padding-right:0px;
   padding-left:0px;
   max-width:21px;
   margin-right:5px;
   margin-left:5px;
}

/* FONT */

/* cyrillic-ext */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgK_7SodY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgIv7SodY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgKv7SodY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgJf7SodY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgKP7SodY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgJv7S.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}