#nav-bar {
  width: 100%;
}

#nav-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: var(--black);
  box-shadow: 0 0 10px var(--black), 0 0 10px var(--black);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--red-wine-primary);

  transition: top 0.3s;
}

.icon-navbar {
  margin: 5px 5px 0 0;
}

.navbar.navbar-light.navbar-expand-xl.sticky-top {
  max-width: 1350px;

  padding: 8px 20px;

  background-color: var(--black);

  font-weight: bold;
}

.nav-item {
  padding: 10px 6px;

  font-size: 0.94rem;
  font-weight: bold;
}

.nav-item a {
  border-radius: var(--default-border-radius);

  color: var(--red-wine-primary) !important;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.nav-item a.active {
  background-color: var(--red-wine-primary);
  box-shadow: 0 0 5px var(--red-wine-primary), 0 0 10px var(--red-wine-primary);

  color: var(--white) !important;
}

.nav-item a:hover {
  background-color: var(--red-wine-primary);
  box-shadow: 0 0 5px var(--red-wine-primary), 0 0 10px var(--red-wine-primary);

  color: var(--white) !important;
}

#daniel-brito-logo {
  width: auto;
  height: 55px;

  margin-bottom: -2px;
}

#toggle-nav-icon {
  width: 50px;
  height: 50px;

  margin: -6px -12px;

  background-color: var(--red-wine-primary);
}

#navcol-1 {
  font-size: 1rem;
  text-align: center;
}
