#to-top-button {
  display: flex;
  background-color: var(--red-wine-primary);
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#top-icon {
  transform: scale(2);
  color: var(--white);
  opacity: 0.7;
}

#to-top-button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

#to-top-button:active {
  background-color: var(--red-wine-lighter);
}

#to-top-button.show {
  opacity: 0.7;
  visibility: visible;
}

@media only screen and (max-width: 920px) {
  #to-top-button {
    bottom: 15px;
    right: 15px;
  }
}
