#to-top-button {
  width: 40px;
  height: 40px;

  bottom: 20px;
  right: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  background-color: var(--red-wine-primary);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;

  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s ease-in-out;
}

#top-icon {
  opacity: 0.7;

  color: var(--white);

  transform: scale(1.7);
}

#to-top-button:hover {
  background-color: var(--button-hover);

  cursor: pointer;
}

#to-top-button:active {
  background-color: var(--red-wine-lighter);
}

#to-top-button.show {
  opacity: 0.7;
  visibility: visible;
  z-index: 9999;
}

@media only screen and (max-width: 920px) {
  #to-top-button {
    bottom: 15px;
    right: 15px;
  }
}
